body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  font-size: 30px;
}

/* header */
.header-top {
  height: 80px;
  line-height: 80px;
}

ul.navbar-menu li,
ul.navbar-language li {
  display: inline-block;
  padding-right: 10px;
}

/* 1rem equivale al font specificato nel body,
nel nostro caso 1rem 16px
quindi ad esempio 1.2rem sarà uguale a 16 * 1.2 pixel */

ul.navbar-menu li a,
ul.navbar-language li a {
  color: #343434;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.header-top .logo {
  vertical-align: middle;
}

ul.navbar-language:not(li:last-child) a {
  border-right: 2px solid black;
  padding-right: 10px;
}

/* jumbo */
.jumbo {
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}

.jumbo h1 {
  font-size: 32px;
}

.jumbo p {
  margin: 10px 0;
}

.jumbo .testo {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  width: 100%;
}

@media screen and (max-width: 992px){
  .jumbo h1 {
    font-size: 26px;
  }
}
/* / jumbo */
/* Header */

/* Main */

/* prodotti */
#prodotti p {
  font-size: 20px;
}

#prodotti h2, p, a {
  padding-bottom: 20px;
}

#prodotti a .text-blue {
  color: rgb(19, 102, 212);
}

#prodotti img {
  height: 350px;
}

.grey {
  background-color: #fafafa;
}

@media screen and (max-width:992px){
  #prodotti img {
    height: 300px;
  }
}

@media screen and (max-width:768px){
  #prodotti img {
    height: 250px;
  }
}
/* / prodotti */

/* steps */
#steps {
  margin-bottom: 250px;
}

#steps .testo {
  padding-top: 450px;
  text-align: left;
}

#steps .question {
  padding-left: 200px;
}

#steps.banner{
  height: 380px;
  background-image: url('../img/index-banner.1f6fd0a.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#steps .iphone {
  padding-top: 150px;
}

#steps img {
  text-align: center;
  height: 400px;

}
/* / steps */

/* Mobility */
#mobility {
  color: white;
  margin-bottom: 30px;
}
#mobility a {
  color: white;
}
#mobility h2 {
  font-size: 40px;
}
.scooter {
  height: 500px;
  background-image: url('../img/scooter.f0a0397.jpg');
  background-repeat: no-repeat;
}

@media screen  and (max-width:992px) {
  #mobility,
  #mobility .row {
    height: 500px;
  }
  #mobility .col-md-5 {
    padding: 60px;
  }
}
/* /mobility */

/* app */
#app {
  margin-bottom: 30px;
}

#app,
#app a {
  color: white;
}

.anthracite {
  background-color: #374858;
}

.phone {
  margin-right: 30px;
}

#app ul li {
  display: inline-block;
}

.city {
  height: 548px;
  background-image: url('../img/city.7c8c928.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen  and (max-width:992px) {
  .phone{
    margin-right: 0;
  }
}

/* app */

/* family */
#family {
  margin-bottom: 30px;
}

.fotografie {
  height: 400px;
  background-image: url('../img/fotografie.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* /family */
/* /main */

/* Footer */
footer {
  padding-top: 80px;
  background-color: black;
}

footer .first {
  padding-bottom: 30px;
}

footer,
footer a {
  color: white;
}

footer a {
  padding-bottom: 0;
}

footer h3 {
  padding: 15px 0;
  text-transform: uppercase;
}

footer li {
  padding-bottom: 15px;
}

footer .second {
  line-height: 50px;
}

footer .second ul li {
  font-size: 25px;
  display: inline-block;
  padding-right: 20px;
  vertical-align: middle;
}

footer span {
  vertical-align: middle;
}

footer .third {
  padding-top: 20px;
  padding-bottom: 150px;
}

footer .third img {
  margin-right: 5px;
  padding: 2px;
  border: 1px solid white;
  border-radius: 10px;
}

/* / footer */
